/* #hero{
    background: url(../images/bg.png); 
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-content: center;
} */
* {
    scroll-behavior: smooth;
}
#countdown, #headline {
    color: #fff;
    text-align: center;
  }
  
  #countdown li {
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
  }
  
  #countdown li span {
    display: block;
    font-size: 2.5rem;
  }
  
  #countdown>ul {
    padding: 0;
  }

#hero-bg {
    position: absolute;
    height: 100vh;
    z-index: -1;
    max-width: 180%;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

#hero-text {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 45%;
    left: 50%;
    width: 75%;
    max-width: 600px;
    text-align: center;
    z-index: 5;
}

.gold{
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
                radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
                -webkit-animation: shine 3s infinite ease-in;
}

.silver{
    background: linear-gradient(to bottom, #bcc6cc, #eee, #bcc6cc);
}

.toggle {
    background: none;
    border: none;
    color: #E7393F ;
    /*display: none;*/
    /*font-size: .9em;*/
    font-weight: 600;
    /*padding: .5em;*/
    position: absolute;
    right: .75em;
    top: 1.5em;
    z-index: 9;
  }
  
/* 
#bg-ripple {
    animation: shine 2s ease-in-out infinite;
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    
    transform: translate(-50%, -50%);
    top: 40%;
    left: 50%;
    z-index: 3;
    background: radial-gradient(rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 45%,
    rgba(255, 255, 255, 0.5) 75%,
    rgba(255, 255, 255, 0.0) 100% );
  }
  
  
  
  @keyframes shine{
    0% {
        height: 10px;
        width: 10px;
        
    }

    80% {
        height: 175vmax;
        width: 175vmax;
        
    }
    
    100% {
        height: 175vmax;
        width: 175vmax;
        
    }
  } */

#_home {
    font-weight: 700; 
    display: flex;        
    align-items: center; 
    justify-content: center; 
    flex-direction: row;
    flex-wrap: wrap-reverse;
    text-align: center;
    font-size: 3rem;
}

#home>div{
    width: 50%;
}

.ticket::before, .ticket::after {
    content: "";
    display: inline-flex;
    background-size: 1.4rem 1.4rem;
    background-position: 0 0.7rem;
    background-repeat: round round;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -0.7rem;
    right: -0.7rem;
    z-index: -1;
  }


.ticket-tech{
    background-color: #ffdab9;
}
.ticket-tech::before, .ticket-tech::after{
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='80' height='80'><polygon points='40 0,0 40,40 80,80 40' style='fill:%23FFDAB9;fill-rule:nonzero;'></polygon></svg>");
}

.ticket-silver{
    background-color: #bcc6cc;
}
.ticket-silver::before, .ticket-silver::after{
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='80' height='80'><polygon points='40 0,0 40,40 80,80 40' style='fill:%23BCC6CC;fill-rule:nonzero;'></polygon></svg>");
}

.ticket-gold{
    background-color: #DBAD4B;
}
.ticket-gold::before, .ticket-gold::after{
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='80' height='80'><polygon points='40 0,0 40,40 80,80 40' style='fill:%23DBAD4B;fill-rule:nonzero;'></polygon></svg>");
}


/*signin PAge*/
#circle{
    display: block;
    width: 50%;
    height: 100px;
    background: #000;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background-position:50% 50%;
    background-size: contain;
    margin: auto;
}

@media screen and (max-width: 600px) {
    #home {
        font-weight: 600;
        text-align: center;
    }
    #home>div{
        font-size: 2rem !important;
        width: 100vw;
        font-weight: 600;
    }
    
  }

  .count_parent{
    position: absolute; 
    bottom: 0;
    display: flex; 
    justify-content: center;
    width: 100%;
  }

  @media all and (max-width: 768px) {

    #countdown {
        bottom: 75px;
    }
    #countdown li {
      font-size: calc(1rem * var(--smaller));
      padding: 0.5em;
    }
  
    #countdown li span {
      font-size: calc(1.25rem * var(--smaller));
    }

    .count_parent{
        bottom: 70px;
    }
  }

#prize_worth_badge{
    width: 120px;
    height: 180px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    text-align: center;
    transform: rotate(25deg) ;
    right: 0;
    top: 0;
    display: none;
}

#prize_worth_badge>div{
    transform: rotate(-25deg) translate(-10px, 20px);
}

.max_img{
  position: absolute;
  right: 20px;
  top: 0;

}

@media screen and (max-width: 768px ) {
  .max_img {
    position: relative;

  }
}
    